@import "style.css";
@import "../../node_modules/wdqs-editor/dist/wdqs-editor.css";
@import "../../node_modules/wdqs-results/dist/wdqs-results.css";

div.modal-dialog.google-visualization-charteditor-dialog{
  z-index: 100;
}
.CodeMirror-hint {
  max-width: 30em;
}
.navbar-inverse {
  background: #242438;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0;
}

.table.dataTable tbody th, .table.dataTable tbody td {
  padding: 8px 10px;
}